.products-card__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 128px;
    padding-top: 96px;
    @media (max-width: 1090px) {
        flex-direction: column;
        align-items: center;
        padding-top: 54px;
        padding-bottom: 65px;
    }
    @media (max-width: 415px) {
        padding-top: 39px;
        padding-bottom: 91px;
    }
}

.product-items {
    width: 652px;
    display: flex;
    margin-bottom: 40px;
    padding-right: 164px;
    box-sizing: border-box;
    box-shadow: 6px 4px 35px rgb(0 0 0 / 21%);
    height: 306px;
    position: relative;
    @media (max-width: 680px) {
        width: 100%;
        height: 188px;
    }
    @media (max-width: 415px) {
        margin-bottom: 31px;
    }
}
.product-items-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 28px;
    padding-bottom: 64px;
    @media (max-width: 680px) {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 38px;
        padding-top: 17px;
    }
}
.product-items-img {
    padding-right: 30px;
    @media (max-width: 680px) {
    }
}
.product-item-cross-img {
    @media (max-width: 680px) {
        width: 9px;
        height: 11px;
    }
}

.quantity-padding {
    @media (max-width: 680px) {
        display: flex;
    }
}

.product-item-head {
    padding-bottom: 57px;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    @media (max-width: 680px) {
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 26px;
    }
}
.box-form {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding-top: 15px;
    @media (max-width: 1090px) {
        padding-top: 62px;
        flex-direction: initial;
        justify-content: space-between;
        width: 100%;
    }
    @media (max-width: 680px) {
        flex-direction: column;
    }
    @media (max-width: 415px) {
        padding-top: 41px;
        padding-bottom: 6px;
    }
}
.box-form-adress {
    display: flex;
    flex-direction: column;
    padding-bottom: 57px;
    @media (max-width: 1090px) {
        width: 46.8%;
    }
    @media (max-width: 680px) {
        width: 100%;
    }
    @media (max-width: 415px) {
        padding-top: 0px;
        padding-bottom: 75px;
    }
}

.chekout-box {
    display: flex;
    flex-direction: column;
    background: #f5f3f3;
    align-items: center;
    padding-top: 39px;
    padding-bottom: 42px;
    @media (max-width: 1090px) {
        width: 46.8%;
        padding-top: 76px;
    }
    @media (max-width: 680px) {
        width: 100%;
    }
    @media (max-width: 415px) {
        padding-top: 0px;
    }
}

.chekout-box-border {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e2e2e2;
    width: 279px;
    padding-top: 18px;
}

.chekout-box-btn {
    padding: 15px 39px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background-color: $color-1;
    border: none;
    transition: 0.4s;
    &:hover {
        transform: scale(1.2);
    }
}

.chekout-box-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.chekout-box-text-sub {
    padding-left: 27px;
    padding-right: 33px;
    font-size: 11px;
    line-height: 13px;
    color: #4a4a4a;
}

.chekout-box-text-sub-padding {
    padding-bottom: 5px;
}

.chekout-box-text-grand {
    padding-left: 27px;
    padding-right: 37px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    color: $color-1;
}

.chekout-box-text-grand-padding {
    padding-bottom: 24px;
}

.product-item-cross {
    position: absolute;
    right: 22px;
    top: 28px;
    background: transparent;
    border: none;
    transition: 0.4s;
    &:hover {
        transform: rotate(360deg);
    }
}

.product-item-pudding {
    padding-bottom: 6px;
}

.red-text {
    color: $color-1;
}

.product-item-quantity {
    width: 44px;
    margin-left: 31px;
    @media (max-width: 680px) {
        width: 24px;
    }
}

.product-items-btn-reset {
    border: 1px solid #a4a4a4;
    padding: 17px 39px;
    background: transparent;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: 0.4s;
    &:hover {
        transform: scale(1.2);
    }
    @media (max-width: 680px) {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #575757;
        padding: 0;
        padding: 10px 15px;
    }
    @media (max-width: 415px) {
        padding: 10px 10px;
    }
}

.box-button {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
    @media (max-width: 1090px) {
        margin-top: 59px;
    }
    @media (max-width: 680px) {
        width: 100%;
    }
    @media (max-width: 415px) {
        margin-top: 0px;
    }
}

.product-items-btn-text {
    width: 139px;
}

.product-items-btn-finish {
    text-decoration: none;
    border: 1px solid #a4a4a4;
    padding-top: 17px;
    padding-left: 39px;
    padding-right: 39px;
    background: transparent;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: 0.4s;
    &:hover {
        transform: scale(1.2);
    }
    @media (max-width: 680px) {
        padding: 10px 15px;
    }
    @media (max-width: 415px) {
        padding: 10px 10px;
    }
}

.box-form-title {
    padding-bottom: 23px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.box-form-fild {
    padding: 13px 19px;
    margin-bottom: 19px;
    transition: 0.4s;
    &:hover {
        border: 4px solid black;
    }
}

.box-form-fild-padding {
    margin-bottom: 22px;
}

.box-form-submit {
    padding: 10px 15px;
    width: 135px;
    background: transparent;
    transition: 0.4s;
    &:hover {
        border: none;
        background-color: $color-1;
        color: #ffffff;
    }
}

.product-basket {
    @media (max-width: 680px) {
        width: 100%;
    }
}
